# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\nikol\Desktop\Studia\Semestr 5\Zaawansowane Programowanie Obiektowe\wyklad\TestGitHub\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
